In [67]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#df=pd.read_csv('Book1.csv')
#df

In [68]:
data = {
    "roll no":[1,2,3,4,5,6],
  "name": ["prerna singh","manish arora","tanish goel","falguni jain","kanika bhatangar","ramandeep kaur"],





 
  "ut1": [24,18,20,22,15,20], "ut2": [24,17,22,20,20,15],"ut3": [20,19,18,24,18,22],"ut4": [22,22,24,20,22,24],
  
  
    
    
  
}
df = pd.DataFrame(data)

print(df)

   roll no              name  ut1  ut2  ut3  ut4
0        1      prerna singh   24   24   20   22
1        2      manish arora   18   17   19   22
2        3       tanish goel   20   22   18   24
3        4      falguni jain   22   20   24   20
4        5  kanika bhatangar   15   20   18   22
5        6    ramandeep kaur   20   15   22   24

In [69]:
#df.drop(['ut3', 'ut4'], axis=1)

In [70]:
df.head(0)

Empty DataFrame
Columns: [roll no, name, ut1, ut2, ut3, ut4]
Index: []

In [93]:
rollno=df['roll no'].values
rollno[5]

6

   roll no            name  ut1  ut2  ut3  ut4
5        6  ramandeep kaur   20   15   22   24
   roll no         name  ut1  ut2  ut3  ut4
2        3  tanish goel   20   22   18   24

In [73]:
x=5
y=7
z=x+y+1

In [74]:
z

13

In [66]:
x="test"
y=False

7

AttributeError: 'dict' object has no attribute 'pd'

roll no=

IndexError: tuple index out of range

In [90]:
num = int(input("Enter a number: "))    
factorial = 1    

for i in range(1,num + 1): 
        
        
        factorial = factorial*i    
print("The factorial of",num,"is",factorial)

In [92]:
def Palindrome(s):
    return x == x[::-1]
 
 
# Driver code
x = "msa"
ans = Palindrome(x)
 
if ans:
    print("Yes")
else:
    print("No")

No

In [ ]:
ch = input("Enter a character: ")

if(ch=='A' or ch=='a' or ch=='E' or ch =='e' or ch=='I'
 or ch=='i' or ch=='O' or ch=='o' or ch=='U' or ch=='u'):
    print(ch, "is a Vowel")
else:
    print(ch, "is a Consonant")

In [ ]:
a = [    
        [2, 11, 7,12],  
        [5,2, 9, 15],    
        [8, 3, 10,42],  
       
    ];  
   
#Calculates number of rows and columns present in given matrix  
rows = len(a);  
cols = len(a[0]);  
   
#Calculates sum of each row of given matrix  
for i in range(0, rows):  
    sumofRow = 0;  
    #for j in range(0, cols):  
    sumofRow = sumpofRow + a[i][i];  
    print("Sum of " + str(i+1) +" row: " + str(sumoofRow));